/* .programs-header from programs.css */

.plans-container {
    margin-top: -4rem;
    padding: 0 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.plans {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.plan {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--caloryCard);
    color: #fff;
    padding: 1.5rem;
    width: 15rem;
}

.plan:nth-child(2) {
    transform: scale(1.1);
    background: var(--planCard);
}

.plan>svg {
    width: 2rem;
    height: 2rem;
    fill: var(--orange);
}

.plans> :nth-child(2)>svg {
    fill: #fff;
}

.plans> :nth-child(2)>button {
    color: var(--orange);
}

.plan> :nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
}

.plan> :nth-child(3) {
    font-size: 3rem;
    font-weight: bold;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature>img {
    width: 1rem;
}

.plan> :nth-child(5) {
    font-size: 0.8rem;
}

.plans-blurL {
    width: 32rem;
    height: 23rem;
    left: 0;
    top: 6rem;
}

.plans-blurR {
    width: 32rem;
    height: 23rem;
    right: 0;
    top: 10rem;
}

@media screen and (max-width: 768px) {
    .plans {
        flex-direction: column;
    }
    .plans> :nth-child(2) {
        transform: none;
    }
}